/* Basic Site settings */
header img {
    width: 73%;
}
@font-face { font-family: 'Lato';
             src: url('Lato-Regular.ttf') format('truetype'); }

html {
    font-family: Lato, arial, sans-serif;
    color: rgba(0,0,0,1);
}

/* Specific Layout Settings for Desktop Clients */
article figure {
    background-color: none;
    width: 18.5%;
    padding: 0.9%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    float: left;
    margin: 1%;  
    margin-top: 42px;
    box-shadow: 2px 2px 4px 4px #009ee0;
    border-radius: 23px;
    min-width: 230px;
} 
.navi {
    float: right;
    width: 25%;
    box-shadow: 2px 2px 4px 4px #de2c68;
    padding: 2%;
    margin: 2%;
}
.ff_link, .ff_link:link, .ff_link:visited {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: 2px 2px 4px 2px #009ee0;
    padding: 5px;
    border-radius: 5px;
    background-color: #009ee0;
    font-size: 1.2em;
}
.ff_link:hover, .ff_link:active{
    text-shadow: 0px 0px 2px #009ee0;
    background-color: white;
    color: black;
}

.stoerung , .stoerung:link, .stoerung:visited{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: 2px 2px 4px 2px #de2c68;
    padding: 12px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 10px;
    border-radius: 5px;
    background-color: #de2c68;
    font-size: 2em;
}
.stoerung:active, .stoerung:hover{
    color: black;
    background-color:  #ffb400;
    text-shadow: 1px 1px 3px #de2c68;
}
article nav a:link, article nav a:visited{
    text-decoration: none;
    color: #009ee0;
}

footer, footer a, footer a:link, footer a:visited {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-top: 650px;
    text-shadow: 0px 0px 3px white, 0px 0px 7px white, 5px 0px 7px white, -5px 0px 7px white, 10px 0px 7px white, -10px 0px 7px white;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}
.parallax_footer{
    clear: both;
    text-align: center;
    margin: -0.32%;
    margin-bottom: -42px;
    background-image: url("https://freifunk-bodensee.net/lib/tpl/dokuwiki-template/images/footer.ffbsee.svg");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
